<div class="content">

    <h2>Message Encryption (Triple DES w/ 3TDEA Key Length)</h2>
    <div>
        <div class=card-container>
            <div class="card card-small" (click)="get_sKey()" tabindex="0" style="width: 200px;">
                <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12,2C6.48,2,2,6.48,2,12c0,5.52,4.48,10,10,10s10-4.48,10-10C22,6.48,17.52,2,12,2z M11,16H9V8h2V16z M12,16V8l5,4L12,16z"/>/></svg>
                <span>Generate Secret Key</span>
            </div>
            <div class="card card-small" (click)="compute()" tabindex="0">
                <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12,2C6.48,2,2,6.48,2,12c0,5.52,4.48,10,10,10s10-4.48,10-10C22,6.48,17.52,2,12,2z M11,16H9V8h2V16z M12,16V8l5,4L12,16z"/>/></svg>
                <span>Compute</span>
            </div>
            <div class="card card-small" (click)="clear(0)" tabindex="0">
                <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12,2C6.48,2,2,6.48,2,12c0,5.52,4.48,10,10,10s10-4.48,10-10C22,6.48,17.52,2,12,2z M11,16H9V8h2V16z M12,16V8l5,4L12,16z"/>/></svg>
                <span>Clear Text</span>
            </div>
            <div class="card card-small" (click)="clear(1)" tabindex="0" style="width: 150px;">
                <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12,2C6.48,2,2,6.48,2,12c0,5.52,4.48,10,10,10s10-4.48,10-10C22,6.48,17.52,2,12,2z M11,16H9V8h2V16z M12,16V8l5,4L12,16z"/>/></svg>
                <span>Clear Cipher</span>
            </div>
        </div>
    </div>
    <div>
        <div class="input-box">
            <span>Insert Secret Key (192-bit hex):</span>
            <input style="margin: 10px; width: 430px;" (keyup)="onKey($event)" id="key" #skey>
        </div>
        <div class="des-textbox">
            <div class="des-textbox-content">
                <span>Text:</span>
            </div>
            <div class="des-textbox-content">
                <span>Cipher Text:</span>
            </div>
        </div>
        <div>
            <textarea class="textbox-display" id="raw" #raw_in></textarea>
            <textarea class="textbox-display" id="cip" #cipher_in></textarea>
        </div>
        <div id="qr-code" class="qr-hide">
            <span>Cipher QR Code:</span>
            <qrcode [qrdata]="qrdata" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
        </div>
    </div>


</div>