.input-box {
    width: 100%;
    margin-left: 20px;
}

.textbox-display {
    padding: 0;
    margin: 20px;
    height: 280px;
    width: 400px;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid #414141;
    background-color: white;
    font-size: 16px;
}

.des-textbox {
    display: flex;
}

.des-textbox-content {
    width: 50%;
    left: 0px;
    margin-left: 20px;
}

.qr-hide {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 38%;
    display: none;
}

.qr-show {
    display: block;
    float: right;
    margin: 0 auto;
}