<div class="content">

    <h2>Message Encryption (Triple DES w/ 3TDEA Key Length)</h2>
    <div>
        <div class=card-container>
            <div class="card card-small" (click)="get_sKey()" tabindex="0" style="width: 200px;">
                <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 6v3l4-4-4-4v3c-4.42 0-8 3.58-8 8 0 1.57.46 3.03 1.24 4.26L6.7 14.8c-.45-.83-.7-1.79-.7-2.8 0-3.31 2.69-6 6-6zm6.76 1.74L17.3 9.2c.44.84.7 1.79.7 2.8 0 3.31-2.69 6-6 6v-3l-4 4 4 4v-3c4.42 0 8-3.58 8-8 0-1.57-.46-3.03-1.24-4.26z"/>/></svg>
                <span>Generate Secret Key</span>
            </div>
            <div class="card card-small" (click)="show_key_qr()" tabindex="0" style="width: 190px;">
                <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7 5h2V3H7v2zm0 8h2v-2H7v2zm0 8h2v-2H7v2zm4-4h2v-2h-2v2zm0 4h2v-2h-2v2zm-8 0h2v-2H3v2zm0-4h2v-2H3v2zm0-4h2v-2H3v2zm0-4h2V7H3v2zm0-4h2V3H3v2zm8 8h2v-2h-2v2zm8 4h2v-2h-2v2zm0-4h2v-2h-2v2zm0 8h2v-2h-2v2zm0-12h2V7h-2v2zm-8 0h2V7h-2v2zm8-6v2h2V3h-2zm-8 2h2V3h-2v2zm4 16h2v-2h-2v2zm0-8h2v-2h-2v2zm0-8h2V3h-2v2z"/></svg>
                <span>Show/Hide Key QR</span>
            </div>
            <div class="card card-small" (click)="compute()" tabindex="0">
                <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12,2C6.48,2,2,6.48,2,12c0,5.52,4.48,10,10,10s10-4.48,10-10C22,6.48,17.52,2,12,2z M11,16H9V8h2V16z M12,16V8l5,4L12,16z"/>/></svg>
                <span>Compute</span>
            </div>
            <div class="card card-small" (click)="clear(0)" tabindex="0">
                <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>/></svg>
                <span>Clear Text</span>
            </div>
            <div class="card card-small" (click)="clear(1)" tabindex="0" style="width: 150px;">
                <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>/></svg>
                <span>Clear Cipher</span>
            </div>

        </div>
    </div>
    <div>
        <div class="input-box">
            <span>Insert Secret Key (192-bit hex):</span>
            <input style="margin: 10px; width: 380px;" (keyup)="onKey($event)" id="key" #skey>
        </div>
        <div class="des-textbox">
            <div class="des-textbox-content">
                <span>Text:</span>
            </div>
            <div class="des-textbox-content">
                <span>Cipher Text:</span>
            </div>
        </div>
        <div>
            <textarea class="textbox-display" id="raw" #raw_in></textarea>
            <textarea class="textbox-display" id="cip" #cipher_in></textarea>
        </div>
        <div id="qr-area" class="des-textbox">
            <div id="kqr" class="qr-hide">
                <span>Key QR Code:</span>
                <qrcode [qrdata]="key_qrdata" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
            </div>
            <div id="cqr" class="qr-hide">
                <span>Cipher QR Code:</span>
                <qrcode [qrdata]="cip_qrdata" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
            </div>
        </div>
    </div>


</div>